*{
    box-sizing: border-box;
    font-family: 'Poppins'
}

h1{
    font-size: 35px;
    text-align: center;
    color:Black;
    margin-bottom:30px;
}

p{
    padding: 30px 25px 25px 25px;
    font-size:15px;
    position:relative;
}
.row{
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}
.section{
    background-color:darkgray;
    margin-top:20px;
    margin-right: 20px;
    padding: 3px;
    text-align: justify;
    position: relative;
}

.row{
    width:100%;
}
/* Desktop PC view */

@media (min-width: 992px) {
 
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  
  /* Tablet PC view */
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-sm-12 {
      width: 100%;
      float: left;
    }
  }
  /* Cell phone view */
  @media (max-width: 767px)  {
    
    .col-sm-12 {
        float: left;
      width: 100%;
    }
  }